@import url("https://fonts.googleapis.com/css2?family=Gowun+Batang&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.cards{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 920px;
    margin-top: 40px;
    margin-bottom: 20px;
    gap: 5px;
    padding: 10px 20px;
    flex-wrap: wrap;
}

.no-courses{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight: 500;
    margin: 10vh 0vh;
    font-size: 1rem;
}
