.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  align-items: center;
  background-color: rgb(48, 48, 48);
  box-sizing: border-box;
  overflow-y: hidden;
}
